@import "globals";

body {
  margin: 0;
  padding: 0;
  font-family: $font-work-sans-regular;
  line-height: normal;
  color: $color-black-text;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
  font-family: $font-avalon-bold;
  text-align: center;
  max-width: 810px;
  padding: 0 20px;
  margin: 0 auto 39px;
  position: relative;

  &:after {
    content: '';
    width: 9px;
    height: 9px;
    display: inline-block;
    background: $color-yellow;
    margin-left: 3px;
  }

  @include breakpoint($bp-mobile) {
    padding: 0 4%;
    font-size: 40px;
    margin-bottom: 20px;

    &:after {
      width: 6px;
      height: 6px;
    }
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.description {
  margin: 0 auto 88px;
  font-size: 24px;
  font-family: $font-work-sans-semi-bold;
  text-align: center;
  max-width: 810px;
  padding: 0 20px;
  line-height: 180%;

  @include breakpoint($bp-mobile) {
    padding: 0 4%;
    margin-bottom: 45px;
    font-size: 18px;
  }
}

.logo {
  text-align: center;
  margin-bottom: 70px;

  @include breakpoint($bp-mobile) {
    margin-bottom: 30px;
  }

  p {
    font-family: $font-work-sans-semi-bold;
    font-size: 12px;
    text-transform: uppercase;
    max-width: 600px;
    margin: auto;
    margin-top: 16px;
    font-weight: 700;
    letter-spacing: 5.6px;
  }
}

.cart {
  padding-top: 53px;

  @include breakpoint($bp-mobile) {
    padding-top: 20px;
  }
}

.cart-main {
  padding: 0 20px 76px 123px;
  position: relative;

  @include breakpoint($bp-desktop-small) {
    padding: 0 4% 4%;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: calc(100% - 147px);
    background: $color-yellow;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.cart-footer {
  min-height: 686px;
  height: 686px;
  background: $color-black url('./../img/map.png') no-repeat center 66%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;

  @include breakpoint($bp-mobile) {
    margin-top: 40px;
    min-height: 455px;
    height: 455px;
  }

  p {
    color: $color-white;
    font-size: 37px;
    font-family: $font-avalon-bold;
    text-align: center;
    line-height: 142%;
    width: 755px;
    max-width: 100%;
    align-self: center;
    padding: 0 20px 25px;
    letter-spacing: 0.01em;

    @include breakpoint($bp-mobile) {
      padding: 0 4% 5px;
      font-size: 28px;
    }
  }
}

.product-loading {
  width: 1097px;
  max-width: 100%;
  margin: auto;
  background: $color-white;
  box-shadow: -4px 2px 54px 0 rgba(0, 0, 0, 0.11);
  padding: 25px;
  min-height: 250px;
}

.product-loading {
  position: relative;
  font-size: 0;
  color: transparent;

  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid $color-grey-border;
    border-top-color: $color-yellow;
    animation: throbber 0.7s linear infinite;
  }
}

@keyframes throbber {
  to {
    transform: rotate(360deg);
  }
}
