@font-face {
  font-family: 'avalon-bold';
  src: url('./fonts/avalon-bold/avalon-bold.eot');
  src: url('./fonts/avalon-bold/avalon-bold.eot') format('embedded-opentype'),
  url('./fonts/avalon-bold/avalon-bold.woff2') format('woff2'),
  url('./fonts/avalon-bold/avalon-bold.woff') format('woff'),
  url('./fonts/avalon-bold/avalon-bold.ttf') format('truetype'),
  url('./fonts/avalon-bold/avalon-bold.svg#avalon-bold') format('svg');
}

@font-face {
  font-family: 'work-sans-semi-bold';
  src: url('./fonts/work-sans-semi-bold/work-sans-semi-bold.eot');
  src: url('./fonts/work-sans-semi-bold/work-sans-semi-bold.eot') format('embedded-opentype'),
  url('./fonts/work-sans-semi-bold/work-sans-semi-bold.woff2') format('woff2'),
  url('./fonts/work-sans-semi-bold/work-sans-semi-bold.woff') format('woff'),
  url('./fonts/work-sans-semi-bold/work-sans-semi-bold.ttf') format('truetype'),
  url('./fonts/work-sans-semi-bold/work-sans-semi-bold.svg#work-sans-semi-bold') format('svg');
}

@font-face {
  font-family: 'work-sans-regular';
  src: url('./fonts/work-sans-regular/work-sans-regular.eot');
  src: url('./fonts/work-sans-regular/work-sans-regular.eot') format('embedded-opentype'),
  url('./fonts/work-sans-regular/work-sans-regular.woff2') format('woff2'),
  url('./fonts/work-sans-regular/work-sans-regular.woff') format('woff'),
  url('./fonts/work-sans-regular/work-sans-regular.ttf') format('truetype'),
  url('./fonts/work-sans-regular/work-sans-regular.svg#work-sans-regular') format('svg');
}

// Fonts.
$font-avalon-bold: 'avalon-bold', Arial, sans-serif;
$font-work-sans-semi-bold: 'work-sans-semi-bold', Arial, sans-serif;
$font-work-sans-regular: 'work-sans-regular', Arial, sans-serif;

// Colors.
$color-black: #000000;
$color-black-text: #191919;
$color-black-button: #4e4e4e;
$color-grey-text: #7d7d7d;
$color-grey: #7d7d7d;
$color-grey-arrow: #848484;
$color-gray-button: #dcdcdc;
$color-grey-border: #ebebeb;
$color-white: #ffffff;
$color-yellow: #fedd23;

// Mixins.
@mixin breakpoint($max-width) {
  @media (max-width: $max-width) {
    @content;
  }
}

// Breakpoints.
$bp-desktop-small: 1200px;
$bp-tablet: 1023px;
$bp-mobile: 720px;
$bp-mobile-small: 420px;
