@import "globals";

.product {
  overflow: hidden;
  border-bottom: 1px $color-grey-border solid;
  padding: 33px 0 32px;
  position: relative;

  img {
    width: 131px;
    height: 131px;
    float: left;
    box-shadow: 5px 6px 13px 1px rgba(0, 0, 0, 0.11);
    margin: 5px 0 0 27px;

    @include breakpoint($bp-mobile) {
      float: none;
      display: block;
      margin: 0 auto 20px;
    }
  }

  .title {
    font-family: $font-work-sans-semi-bold;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 22px;
    padding-right: 40px;

    @include breakpoint($bp-mobile) {
      padding-right: 0;
    }
  }

  .subtitle {
    font-size: 16px;
    color: $color-grey-text;
    line-height: 160%;
    margin-bottom: 45px;
  }

  .product-select {
    display: inline-block;
    position: relative;
    max-width: 100%;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 7px 0 7px;
      border-color: $color-grey-arrow transparent transparent transparent;
      pointer-events: none;
    }
  }

  select {
    background: $color-white;
    width: 242px;
    height: 51px;
    border-radius: 2px;
    border: solid 1px $color-gray-button;
    cursor: pointer;
    font-family: $font-work-sans-regular;
    font-size: 14px;
    padding: 0 0 2px 20px;
    appearance: none;
    display: block;
    max-width: 100%;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.product-content {
  padding-left: 196px;

  @include breakpoint($bp-mobile) {
    padding-left: 0;
    text-align: center;
  }
}

.product-left {
  float: left;
  border-right: 1px solid rgba(43, 46, 64, 0.06);
  width: 67.7%;
  padding-right: 55px;

  @include breakpoint($bp-desktop-small) {
    width: 60%;
  }

  @include breakpoint($bp-tablet) {
    width: 100%;
    padding-right: 0;
    border-right: 0;
  }
}

.product-right {
  float: left;
  width: 32.3%;
  position: relative;
  padding: 67px 0 0 4.7%;

  @include breakpoint($bp-desktop-small) {
    width: 40%;
  }

  @include breakpoint($bp-tablet) {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    position: static;
  }

  @include breakpoint($bp-mobile) {
    padding: 40px 4% 0;
  }

  .price {
    float: right;
    color: $color-black;
    font-family: $font-avalon-bold;
    font-size: 17px;
    vertical-align: top;
    line-height: 39px;
    height: 39px;
    padding-right: 21px;

    @include breakpoint($bp-mobile-small) {
      padding-right: 0;
    }
  }
}

.product-delete {
  position: absolute;
  right: 23px;
  top: -2px;
  border: 0;
  width: 20px;
  height: 23px;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  background: url("./../img/delete-product.svg") no-repeat 0 0;
  transition: opacity 0.3s;

  @include breakpoint($bp-tablet) {
    right: 5px;
    top: 15px;
  }

  &:hover {
    opacity: 0.8;
  }
}
