@import "globals";

.product-list {
  width: 1097px;
  max-width: 100%;
  margin: auto;
  background: $color-white;
  box-shadow: -4px 2px 54px 0 rgba(0, 0, 0, 0.11);
  padding: 26px 65px 55px 52px;
  min-height: 250px;

  @include breakpoint($bp-tablet) {
    padding: 26px 4% 55px;
  }
}

.product-empty {
  padding-top: 82px;
  text-align: center;
}

.cart-total {
  font-family: $font-avalon-bold;
  font-size: 31px;
  color: $color-black;
  text-align: right;
  padding-top: 51px;
}
