@import "globals";

.quantity-select {
  display: inline-block;
  vertical-align: top;

  button {
    width: 39px;
    height: 39px;
    border-radius: 2px;
    border: solid 1px $color-gray-button;
    background: transparent;
    font-size: 0;
    color: transparent;
    display: inline-block;
    vertical-align: top;
    position: relative;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      opacity: 0.4;
    }

    &:before {
      content: '';
      width: 15px;
      height: 1px;
      display: block;
      background: $color-black-button;
      position: absolute;
      top: 49%;
      left: 11px;
    }

    &:last-child {
      &:after {
        content: '';
        height: 15px;
        width: 1px;
        display: block;
        background: $color-black-button;
        position: absolute;
        top: 11px;
        left: 50%;
      }
    }
  }

  span {
    display: inline-block;
    width: 59px;
    padding: 0 10px;
    text-align: center;
    line-height: 39px;
    height: 39px;
    vertical-align: top;
  }
}
